@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-base antialiased;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .text-natural {
    font-family: 'Playfair Display', serif;
  }
}
